*.tmpl[0-9]+[a-z]*
grouping_no.tmpl
verde_error.tmpl
access_denied.tmpl
ebsco_am.tmpl
grouping_yes.tmpl.du
mix_sfxmenu.tmpl
sfxmenu2.tmpl
target_list.tmpl.du
verde_info.tmpl.sp
verde_info.tmpl
banner.tmpl.du
banner_js.tmpl
grouping_no.tmpl.sp
sfxmenu.tmpl.du
error.tmpl
fill_in.html
grouping_no.tmpl.du
sfxmenu.tmpl.sp
banner.tmpl.sp
target_list.tmpl.sp
README
verde_info.tmpl.du
grouping_yes.tmpl.sp
services/getRecommendation.tmpl.du
services/getFullTxt_856_URL.tmpl
services/getAuthor.tmpl.du
services/getFullTxt_ACADJOUR.tmpl
services/getFullTxt_NEXIS.tmpl
services/getWebSearch.tmpl.du
services/getSubject_SUB.tmpl
services/getFullTxt_FACTIVA.tmpl
services/getSelectedFullTxt_FACTIVA.tmpl
services/getFullTxt_NIKKEIBP_KIJIKEN_ACADEMIC.tmpl.jpn
services/getHolding_Worldcat.tmpl
services/get_target_name_GNL.tmpl
services/getFullTxt_cochrane.tmpl
services/getRecommendation.tmpl
services/getHolding_UNION.tmpl
services/getCitedBook.tmpl
services/getFullTxt_Economist.tmpl
services/getRecommendation.tmpl.sp-no-need
services/getRecommendation.tmpl.du-no-need
services/getAbstract_FACTIVA.tmpl
services/getTOC.tmpl.du
services/getCitedBook.tmpl.du
services/get_target_name_FirstSearch.tmpl
services/displayName.tmpl
services/getHolding_Z3950.tmpl
services/getWebSearch_GoogleBookSearch.tmpl.du
services/getHolding_ALEPH.tmpl
services/getFullTxt.tmpl.sp
services/getAuthor.tmpl.sp
services/getSubject.tmpl
services/getWebSearch.tmpl.sp
services/getRecommendation.tmpl.sp
services/getCitedBook.tmpl.sp
services/getTOC.tmpl.sp
services/getAbstract.tmpl.sp
services/getDocumentDelivery_Infotrieve.tmpl
services/getFullTxt.tmpl.du
services/getFullTxt_XXX.tmpl
services/getWebSearch_GoogleBookSearch.tmpl.sp
services/getFullTxt_NIKKEIBP_KIJIKEN_ACADEMIC.tmpl
services/getAbstract.tmpl.du
